<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CrearReserva</servlet-name>
        <servlet-class>co.udea.fundsistemas.puntosdeventa.dao.ReservaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>co.udea.fundsistemas.puntosdeventa.control.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarVendedorServlet</servlet-name>
        <servlet-class>co.udea.fundsistemas.puntosdeventa.control.IngresarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVendedorServlet</servlet-name>
        <servlet-class>co.udea.fundsistemas.puntosdeventa.control.EliminarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVendedorServlet</servlet-name>
        <servlet-class>co.udea.fundsistemas.puntosdeventa.control.ModificarVendedorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>co.udea.fundsistemas.puntosdeventa.control.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearReserva</servlet-name>
        <url-pattern>/CrearReserva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarVendedorServlet</servlet-name>
        <url-pattern>/IngresarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVendedorServlet</servlet-name>
        <url-pattern>/EliminarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVendedorServlet</servlet-name>
        <url-pattern>/ModificarVendedorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
